<div class="login-wrapper">
  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)" novalidate>
    <h1>Logga in</h1>
    <label>
      Användarnamn
      <input
        ngModel
        #username="ngModel"
        type="text"
        name="username"
        id="username"
        placeholder="användarnamn..."
      />
    </label>
    <label>
      Lösenord
      <input
        ngModel
        #password="ngModel"
        type="password"
        name="password"
        id="password"
        placeholder="lösenord..."
      />
    </label>
    <button class="btn-primary form-btn" type="submit">
      <span *ngIf="loading">Laddar...</span>
      <span *ngIf="!loading">Logga in</span>
    </button>
    <div *ngIf="formError">
      <p class="error">{{ formErrorMessage }}</p>
    </div>
    <div *ngIf="formSucess">
      <p>Inloggning lyckades! Du kommer snart navigeras till appen.</p>
    </div>
  </form>
</div>
