<header>
  <div *ngIf="!displayModal" class="header">
    <a routerLink="/" class="header-logo">Todo App</a>
    <div class="mobile-menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="menu-icon"
        (click)="toggleModal()"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 9h16.5m-16.5 6.75h16.5"
        />
      </svg>
      <fa-icon
        (click)="toggleModal()"
        [ngStyle]="{ color: '#000' }"
        [icon]="faBars"
        class="menu-icon"
      ></fa-icon>
    </div>
    <nav class="desktop-menu">
      <app-link-button
        text="Mitt konto"
        type="secondary"
        link="/app/konto"
      ></app-link-button>

      <app-button
        text="Logga ut"
        type="primary"
        (btnClick)="logoutUser()"
      ></app-button>
    </nav>
  </div>
  <!-- Header modal -->
  <div *ngIf="displayModal" class="header-modal-container">
    <div class="header-modal-wrapper">
      <div class="header-modal-top-section">
        <a routerLink="/" class="header-logo" (click)="toggleModal()"
          >Todo App</a
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="close-icon"
          (click)="toggleModal()"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </div>
      <nav class="header-modal-nav">
        <ul class="list-container">
          <li class="list-item">
            <a routerLink="/app/konto" (click)="toggleModal()">Mitt konto</a>
          </li>

          <li class="list-item-btn">
            <app-button
              text="Logga ut"
              type="primary"
              (btnClick)="logoutUser()"
            ></app-button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
